<div class="bento-grid">
  <div class="bento-card card-about">
    <%- partial('_partial/card-about') %>
  </div>
  <div class="bento-card card-featured">
    <%- partial('_partial/card-featured') %>
  </div>
  <div class="bento-card card-recent">
    <%- partial('_partial/card-recent') %>
  </div>
  <div class="bento-card card-tags">
    <%- partial('_partial/card-tags') %>
  </div>
  <div class="bento-card card-social">
    <%- partial('_partial/card-social') %>
  </div>
</div>
