<!DOCTYPE html>
<html lang="<%= config.language || 'zh-CN' %>">
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <main class="container">
    <%- body %>
  </main>
  <%- partial('_partial/footer') %>
  <%- js('js/main') %>
</body>
</html>
